# API Configuration
API_BASE_URL=https://ai-api.bitech.vn/api

# Google API Key (nếu cần cho Gemini)
GOOGLE_API_KEY=your_google_api_key_here
# Logging Configuration
LOG_LEVEL=DEBUG

# Agent Configuration  
AGENT_MODEL=gemini-2.5-flash
AGENT_NAME=school_management_agent
PORT=10003
URL_API_APP=https://ai-api.bitech.vn/agent-list/api